
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confeccao</title>



</head>
<body>

    <div class="titleContainer">
        <a href="{% url 'home' %}">Home</a>
        <h1>Cadastro</h1>
        <a href="{% url 'consulta' %}">Consulta</a>
    </div>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cadastrar</button>
        </form>
    </div>

</body>
</html>