
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confeccao</title>


</head>
<body>

    <div class="titleContainer">
        <h1>Confecção</h1>
    </div>

    <div class="container">
        <a href="{% url 'cadastro' %}">
            <button>
                Cadastro de Equipamento
            </button>
        </a>
        <a href="{% url 'consulta' %}">
            <button>
                Consulta de Equipamento
            </button>
        </a>
    </div>

</body>
</html>