
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confeccao</title>

    <link rel="stylesheet" type="text/css" href="{% static 'app/css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/index.css' %}">

</head>
<body>

    <div class="titleContainer">
        <h1>Bem vindo de volta</h1>
    </div>

    <div class="container">
        <a href="about:blank">
            <div class="link">
                Cadastro de Equipamento
            </div>
        </a>
        <a href="about:blank">
            <div class="link">
                Consulta de Equipamento
            </div>
        </a>
    </div>

</body>
</html>