

div.link {
    font-size: 1.3em;
    padding: 1em;

    background-color: azure;

    border: solid rgb(26, 146, 140) 2px;
    border-radius: 10px;
}

a:link {
    text-decoration: none;
    color: rgb(26, 146, 140);
}

